@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #505962;
}

/*--- Navigation --*/

.bg-grey {
    background-color: #4e555b;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6) !important
}

.navbar-brand img{
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #9fcdff;
}

/*------------ Slide Page ------------*/

/*--- Fix the Photos --*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}

.home-package {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    will-change: transform;
    background-image: url(../img/event.jpg);
    opacity: 0.4;
}

/*--------------------*/

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
    color: #9fcdff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.0rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 1.5rem;
    color: #005cbf;
    text-shadow: .1rem .1rem .2rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

.bgc1 {
    background-color: lightseagreen;
    outline: none;
}

.bgc2 {
    background-color: grey;
}

.pad {
    margin: 1rem;
}

/*--- Media --*/

@media (max-width: 767px) {
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }
}

/*------------ Sign Up Section ------------*/

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    padding-top: 1rem;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

label {
    padding-bottom: 10px;
}

.color {
    color: #721c24;
}

.custom-control {
    padding-top: 1rem;
}

.position{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 10%;
    z-index: 1;
    color: #9fcdff;
    text-transform: uppercase;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.padding {
    padding-bottom: 1rem;
}

.underline {
    text-decoration: none;
    color: #9fcdff;
}

a.underline:hover {
    text-decoration: none;
}